:root {
    --black: black;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
    min-height: 100vh;
    font-size: 18px;
    background-color: rgb(255, 247, 234);
}

picture {
    display: block;
}

picture img {
    display: block;
    width: 100%;
    height: auto;
}

input, button, textarea, select {
    font: inherit;
}

ol, ul {
    list-style: none;
    padding: 0;
}

h1, h2, h3 {
    line-height: 1.1;
}

h1, 
h2,
h3,
h4,
h5,
h6,
p {
    overflow-wrap: break-word;
    max-width: 65ch;
}

a {
    display: block;
    text-decoration: none;
    color: #46680f;
}

p a {
    display: inline;
    text-decoration: underline;
}
header {
    background-color: #a2c569;
}

header h1 {
    font-size: 2.5em;
    padding-top: 0.7em;
    position: relative;
    top: 0.2em;
}

.inner-column {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 0px 24px;
}

/* main {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
} */

h2 {
    font-size: 2em;
    margin-bottom: 0.3em;
}

hr {
    padding: 0;
    margin: 0;
}

.page-section {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding: 10px 0px;
}

.intro-section h2 {
    font-style: italic;
    font-weight: normal;
}

/* .inner-column > * {
    border: 2px solid black;
} */

.source-section a {
    font-style: normal;
}

/* BACKGROUND SHADINGS ############### */

.bg-one {
    background-color: rgba(0, 0, 0, 0.082);
}

/* CHAPTER SECTION ################ */

.chapter-number {
    font-size: 2.2em;
    font-weight: normal;
}

.verse:not(:last-child) {
    margin-bottom: 1em;
}

span.date {
    display: block;
    color: rgb(0, 0, 0);
    font-size: 0.9em;;
}

.chapters-section > article > section {
    margin-bottom: 1.5em;
}

.writing-container {
    margin-top: 1em;
}

.writing-container p + p {
    margin-top: 1em;
}

